{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h3>Search Results for: {{ query }} </h3>
      </div>
    </div>
  </div>
</div>
<!-- End Title -->

<!-- Search Results Container-->
<div class="container">

  <!-- User Results: only show users that have public decks -->
  <div class="user_search_results">
  <h1>Users:</h1> 
    {% if user_list %}
      <div class="row mar-b-30">
        <div class="col-md-12">
          {% for user in user_list %}
          {% if user.public_deck_count > 0 %}
            <div id="user_{{user.user}}" class="UserResult">
              <div class="image-caption image-caption-search-result">
                <a href="/cards/shared_decks/?u_id={{ user.signed_user }}" class="user_result_options label label-info icon" data-toggle="tooltip" data-placement="top" title="View">
                  <i class="deck_options fa fa-eye"></i>
                </a>
              </div>
              <div class="User icon-wrap ico-bg round-five {% cycle 'user_color1' 'user_color2' 'user_color3' %}">
                <i class="fa fa-smile-o"></i>
              </div>
              <h4>{{ user.username }}</h4>
              <h5>Number of Decks: {{user.public_deck_count}} </h5>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p>No users matched that search</p>
    {% endif %}
  </div>
  <!-- End User Results -->

  <!-- Deck Results -->
  <div class="deck_search_results">
    <h1>Decks:</h1>
    {% if deck_list %}
      <div class="row mar-b-30">
	      <div class="col-md-12">
          {% for deck in deck_list %}
            <div id={{deck.orig_deck_id}} class="DeckResult">
              <div class="image-caption image-caption-search-result">
                <a href="/cards/study/?deck_id={{deck.orig_deck_id}}" class="deck_result_options label label-info icon" data-toggle="tooltip" data-placement="top" title="Study">
                  <i class="deck_options fa fa-book"></i>
                </a>
                <a href="/cards/view_shared_deck/?deck_id={{ deck.orig_deck_id }}" class="deck_result_options label label-info icon" data-toggle="tooltip" data-placement="top" title="View">
                  <i class="deck_options fa fa-eye"></i>
                </a>
                <a data-toggle="modal" href="#CloneDeck" class="CloneDeck clone-deck-toggle deck_result_options label label-info icon" data-toggle="tooltip" data-placement="top" title="Clone">
                  <i class="deck_options fa fa-copy"></i>
                </a>
              </div>
				      <img class="DeckResult" src="{% cycle '/static/img/StackOfFlashCards.png' '/static/img/StackOfFlashCards2.png' '/static/img/StackOfFlashCards3.png' %}"></img>
				      <h4>{{ deck.deck_name }}</h4>
              <h5>By: {{ deck.username }} </h5>
              <h5>Number of Cards: {{ deck.card_count }} <h5>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p>No public decks matched that search</p>
    {% endif %}
  </div>
  <!-- End Deck Results -->

</div>
<!-- End Search Results Container -->



<!-- Clone Deck Modal -->
<div aria-hidden="true" aria-labelledby="CloneNewDeck" role="dialog" tabindex="-1" id="CloneDeck" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Clone Deck</h4>
      </div>
      <form id="clone-deck-form" method="POST" class="form-signin" action="" style="visibility: visible;">
        {% csrf_token %}
        <div class="modal-body">
          <!-- Check for error messages from bad form data -->
          <p id="clone-deck-error"></p>
          {% for field in clone_form %}
            {% if field.name == "deck_name" %}
              <label for="id_deck_name">Deck Name:</label>
              <input class="form-control" id="id_deck_name" name="{{ field.name}}" type="text">
            {% elif field.name == "share_flag" %}
              <label for="id_share_flag">Share With Others:</label>
              <input id="id_share_flag" name="{{ field.name}}" type="checkbox">
            
              
            {% endif %}
          {% endfor %}
          <!-- original deck id -->
          <input id="clone-deck-id-input" type="hidden" name="clone-deck-id" value="">
          <input id="user-id" class="curr-user" type="hidden" name="curr-user" value="{{ sign }}">
        </div>
        <div class="modal-footer">
          <button id="clone-deck-cancel" data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
          <button id="clone-deck-submit" class="btn btn-success" type="submit">Clone Deck!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- End Modal -->

{% endblock %}
