{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>


        <!--container start-->
    <div class="registration-bg">
        <div class="container">
        	<form class="form-signin wow fadeInUp" action="">
                <h2 class="form-signin-heading">Email Sent</h2>
                <div class="login-wrap">
   					<p> If an account exists for the email you entered, you will receive an email with instructions to reset your password.</p>
   					<p> If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
   					<a class="btn btn-lg btn-login btn-block" href="/">Ok</a>
                </div>
            </form>
        </div>
     </div>
     <!--container end-->


{% endblock %}