{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>


    <!--container start-->
    <div class="registration-bg">
        <div class="container">
        	<form class="form-signin wow fadeInUp" action="">
                <h2 class="form-signin-heading">Reset Successful</h2>
                <div class="login-wrap">
   					<p> Your password has been reset.
   					<p> You will be redirected to the login page in 5 seconds...</p>
                </div>
            </form>
        </div>
     </div>
     <!--container end-->
     <script>
    	function redirect(){
       		window.location.href = "{{ login_url }}";
    	}
    	setTimeout(redirect, 5000);
	</script>


{% endblock %}