{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>

    <!--container start-->
    <div class="registration-bg">
        <div class="container">
        	<form method="POST" class="form-signin wow fadeInUp" action=""> {% csrf_token %}
                <h2 class="form-signin-heading">Password Reset</h2>
                <div class="login-wrap">
                    <p>We'll email you the instructions.</p>
                	{% if form.email.errors %}
    					<p>Errors in form</p>
					{% endif %}
                    {% for field in form.email %}
                        <input type="text" class="form-control"
                                name="{{ field.name }}"
                                id="id_{{ field.name }}"
                                placeholder="Email"> 
                    {% endfor %}
                    <button class="btn btn-lg btn-login btn-block" type="submit">Reset Password</button>
                    <a class="btn btn-lg btn-login btn-block" href="/accounts/login">Cancel</a>
                </div>
            </form>

        </div>
     </div>
     <!--container end-->

{% endblock %}