{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>

    {% if validlink %}
    <!--container start-->
    <div class="registration-bg">
        <div class="container">
            <form method="POST" class="form-signin wow fadeInUp" action=""> {% csrf_token %}
                <h2 class="form-signin-heading">Reset Password</h2>
                <div class="login-wrap">
                    {{ form.new_password1.errors }}
                    {% for field in form.new_password1 %}
                        <input type="password" class="form-control"
                                name="{{ field.name }}"
                                id="id_{{ field.name }}"
                                placeholder="New Password"> 
                    {% endfor %}
                    {{ form.new_password2.errors }}
                    {% for field in form.new_password2 %}
                        <input type="password" class="form-control"
                                name="{{ field.name }}"
                                id="id_{{ field.name }}"
                                placeholder="Confirm New Password"> 
                    {% endfor %}
                    <button class="btn btn-lg btn-login btn-block" type="submit">Change Password</button>
                </div>
            </form>

        </div>
     </div>
     <!--container end-->
     {% else %}
        <div class="registration-bg">
        <div class="container">
            <form method="POST" class="form-signin wow fadeInUp" action=""> {% csrf_token %}
                <h2 class="form-signin-heading">Invalid Link</h2>
                <div class="login-wrap">
                    <p> This password reset link is invalid, possibly because it has already been used.</p>
                    <p> Please request a new password reset.</p>
                    <a class="btn btn-lg btn-login btn-block" href="/accounts/login">Ok</a>
                </div>
            </form>

        </div>
     </div>
     {% endif %}
{% endblock %}