{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>

    <!--container start-->
    <div class="registration-bg">
        <div class="container">
        	<form method="POST" class="form-signin wow fadeInUp" action=""> {% csrf_token %}
                <h2 class="form-signin-heading">Change Password</h2>
                <div class="login-wrap">
                	{% if form.errors %}
    					<p>Errors in form</p>
					{% endif %}
					{% for field in form %}
						<input type="password" class="form-control"
        						name="{{ field.name }}"
        						id="id_{{ field.name }}"
        						placeholder="{{ field.label.title }}"> 
					{% endfor %}
                    <button class="btn btn-lg btn-login btn-block" type="submit">Save Changes</button>
                    <a class="btn btn-lg btn-login btn-block" href="/">Cancel</a>
                </div>
            </form>

        </div>
     </div>
     <!--container end-->
{% endblock %}


