{% extends "base.html" %}
{% block content %}
    <!--necessary for the css-->
    <div class="div_to_make_pretty">
    </div>

    <!--container start-->
    <div class="login-bg">
        <div class="container">
            <div class="form-wrapper">
            <form method="post" class="form-signin wow fadeInUp" action=""> {% csrf_token %}
            <h2 class="form-signin-heading">sign in now</h2>
            <div class="login-wrap">
                  <!-- Check for error messages from bad form data -->
                  {% if messages %}
                    {% for message in messages %}
                      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                  {% endif %}
                <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label class="checkbox">
                    <span class="pull-right">
                        <a href="{% url 'reset_password_reset1' %}"> Forgot Password?</a>
                    </span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
                <div class="registration">
                    Don't have an account yet?
                    <a class="" href="/accounts/signup">
                        Create an account
                    </a>
                </div>

            </div>

              <!-- Modal -->
              <div aria-hidden="true" aria-labelledby="myModal" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Forgot Password ?</h4>
                          </div>
                          <div class="modal-body">
                              <p>Enter your e-mail address below to reset your password.</p>
                              <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                              <button class="btn btn-success" type="button">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- modal -->

          </form>
          </div>
        </div>
    </div>
    <!--container end-->
  {% endblock %}
