h1, h2, h3, h4, h5, h6, p {
  color:black;
}

body {
    background:rgb(240, 240, 240);;
}

.oneBackgroundGrey{
    background:rgb(230, 230, 230);
}

.twoBackgroundGrey{
    background:rgb(220, 220, 220);
}

.currentFollow{
    text-align: right;
}

.list-group-item{
  padding: 8px 10px 10px 10px;
}
